rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /timetables/{timetableId} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read, write: if true;
      match /chats/{chatId} {
        allow read, write: if true;
      }
      match /memories/{memoryId} {
        allow read, write: if true;
      }
      match /timetables/{ttId} {
        allow read, write: if true;
      }
    }
  }
}
